.account__content-header {
  display: flex;
  justify-content: space-between;
}

.account__content-heading {
  display: none;
  margin: 0 0 $spacing-unit * 3 0;
  color: $text--dark;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(24);
  letter-spacing: 0.11em;
  text-transform: uppercase;

  @include desktop-up {
    display: block;
  }
}

.account__content {
  @include desktop-up {
    flex: 1;
  }
}

.account__logout {
  display: none;
  color: $color-black-500;
  font-size: rem(14);
  line-height: rem(22);
  letter-spacing: 0.03em;

  @include desktop-up {
    display: block;
  }
}
