.article-preview {
  margin-bottom: 0;
  width: 100%;

  p {
    margin-bottom: $spacing-unit * 5;
    color: $color-grey-700;
    font-size: rem(18);
  }
}

.article-preview__image-wrapper {
  display: block;
  position: relative;
  margin-bottom: $spacing-unit * 5;
  padding-bottom: 56%;
  width: 100%;
  height: 0;
}

.article-preview__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-preview__content {}

.article-preview__date {
  color: $color-grey-500;
  font-size: rem(14);
  line-height: rem(22);
  letter-spacing: 0.03em;
}

.article-preview__title {
  margin-bottom: $spacing-unit * 2;
  font-size: rem(22);
  line-height: rem(28);

  @include tablet-up {
    font-size: rem(26);
    line-height: rem(32);
  }
}

.article-preview__excerpt {
  margin-top: $spacing-unit * 5;
  font-size: rem(16);
  line-height: rem(24);
}

.article-preview__read-more {
  margin-top: $spacing-unit * 5;
  margin-bottom: 0;
  padding-top: 0;
  color: $color-grey-700;
  font-size: rem(14);
  line-height: rem(20);
  letter-spacing: rem(0.88);
  text-transform: uppercase;
}
