<div class="page-layout__section page-layout__section--style-guide">
  <div class="container">
    <h2 class="heading heading--divider">Buttons</h2>
    <div class="row">
      <div class="column small-12 medium-6">
        <h3 class="heading heading--divider">Primary</h3>
        <v-button primary>Default</v-button>
        <div style="display: inline-block;width: 20px;"></div>
        <v-button primary disabled>Disabled</v-button>
        <div style="display: inline-block;width: 20px;"></div>
        <v-button primary class="button--focus">Focused</v-button><br />
        <v-button primary small>Sm</v-button>
        <div style="display: inline-block;width: 20px;"></div>
        <v-button primary small disabled>Sm Disabled</v-button>
        <div style="display: inline-block;width: 20px;"></div>

        <v-button primary full>
          Full Width
        </v-button>
        <v-button primary disabled full>
          Disabled Full Width
        </v-button>
      </div>
      <div class="column small-12 medium-6">
        <h3 class="heading heading--divider">With Modifier</h3>
        <button class="button button--primary">Default</button>
        <div style="display: inline-block;width: 20px;"></div>
        <button class="button button--primary" disabled>Disabled</button>
        <div style="display: inline-block;width: 20px;"></div>
        <button class="button button--primary button--focus">Focused</button><br />
        <button class="button button--primary button--small">Sm</button>
        <div style="display: inline-block;width: 20px;"></div>
        <button class="button button--primary button--small" disabled>Sm Disabled</button>
        <div style="display: inline-block;width: 20px;"></div>

        <button class="button button--primary button--full-width">
          Full Width
        </button>
        <button class="button button--primary button--full-width" disabled>
           Disabled Full Width
        </button>
      </div>
    </div>

    <div class="row" style="margin-top: 2rem">
      <div class="column small-12 medium-6">
        <h3 class="heading heading--divider">Secondary</h3>
        <v-button secondary>Default</v-button>
        <div style="display: inline-block;width: 20px;"></div>
        <v-button secondary disabled>Disabled</v-button>
        <div style="display: inline-block;width: 20px;"></div>
        <v-button secondary class="button--focus">Focused</v-button><br />
        <v-button secondary small>Sm</v-button>
        <div style="display: inline-block;width: 20px;"></div>
        <v-button secondary small disabled>Sm Disabled</v-button>

        <v-button secondary full>
          Full Width
        </v-button>
        <v-button secondary disabled full>
          Disabled Full Width
        </v-button>
      </div>
      <div class="column small-12 medium-6">
        <h4 class="heading heading--divider">With Modifier</h4>
        <button class="button button--secondary">Default</button>
        <div style="display: inline-block;width: 20px;"></div>
        <button class="button button--secondary" disabled>Disabled</button>
        <div style="display: inline-block;width: 20px;"></div>
        <button class="button button--secondary button--focus">Focused</button><br />
        <button class="button button--secondary button--small">Sm</button>
        <div style="display: inline-block;width: 20px;"></div>
        <button class="button button--secondary button--small" disabled>Sm Disabled</button>

        <button class="button button--secondary button--full-width">
          Full Width
        </button>
        <button class="button button--secondary button--full-width" disabled>
          Disabled Full Width
        </button>
      </div>
    </div>

    <h3 class="heading heading--divider" style="margin-top: 2rem;">
      Arrow Buttons</h3>
    <div class="row" style="margin-top: 2rem">
      <div class="column small-12 medium-6">
        <h4 class="heading heading--divider">Primary</h4>
        <v-button primary arrow></v-button>
        <v-button primary arrow disabled></v-button>
      </div>
      <div class="column small-12 medium-6">
        <h4 class="heading heading--divider">Secondary</h4>
        <v-button secondary arrow></v-button>
        <v-button secondary arrow disabled></v-button>
      </div>
      <div class="column small-12 medium-6">
        <h4 class="heading heading--divider">Arrow Up</h4>
        <v-button arrow-up></v-button>
        <div style="display: inline-block;width: 20px;"></div>
        <v-button arrow-up class="button--focus"></v-button>
        <div style="display: inline-block;width: 20px;"></div>
        <button class="button button--arrow-up">
          <span class="button__content">
            <icon name="arrow-up" size="16px"></icon>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="page-layout__section" style="padding: 5rem 0;">
  <div class="container">
    <h3 class="heading heading--divider">Link Style</h3>
    <div class="row">
      <div class="column small-12 medium-4">
        <h4 class="heading heading--divider">Primary Link</h4>
        <a href="" class="link link--primary">Link - Default</a>
        <div style="display: inline-block;width: 20px;"></div>
        <a href="" class="link link--primary link--focus">Link Focus</a>
      </div>
      <div class="column small-12 medium-4">
        <h4 class="heading heading--divider">Inline Link</h4>
        <a href="" class="link link--inline">Link Default</a>
        <div style="display: inline-block;width: 20px;"></div>
        <a href="" class="link link--inline link--focus">Link Focus</a>
      </div>
      <div class="column small-12 medium-4">
        <h4 class="heading heading--divider">Nav Link</h4>
        <a href="" class="link link--nav">Default</a>
      </div>
    </div>
  </div>
</div>
