<div class="page-layout__section page-layout__section--style-guide">
  <div class="container">
    <h2 class="heading heading--divider">Colors</h2>
    <div class="row">
      <div class="column small-12 medium-4">
        <div style="padding: 16px; background-color: #1C2938;color: white">blue-900 #1C2938</div>
        <div style="padding: 16px; background-color: #273D56;color: white">blue-800 #273D56</div>
        <div style="padding: 16px; background-color: #3A5676;color: white">blue-700 #3A5676</div>
        <div style="padding: 16px; background-color: #476E9A;color: white">blue-600 #476E9A</div>
        <div style="padding: 16px; background-color: #517CAE;color: white">blue-500 #517CAE</div>
        <div style="padding: 16px; background-color: #6397CA;color: white">blue-400 #6397CA</div>
        <div style="padding: 16px; background-color: #8FBFEE;">blue-300 #8FBFEE</div>
        <div style="padding: 16px; background-color: #AED6FD;">blue-200 #AED6FD</div>
        <div style="padding: 16px; background-color: #D7EBFF;">blue-100 #D7EBFF</div>
        <hr style="margin: 1.5rem 0;">
        <div style="padding: 16px; background-color: #334754;color: white">teal-900 #334754</div>
        <div style="padding: 16px; background-color: #446073;color: white">teal-800 #446073</div>
        <div style="padding: 16px; background-color: #547990;color: white">teal-700 #547990</div>
        <div style="padding: 16px; background-color: #6994AF;color: white">teal-600 #6994AF</div>
        <div style="padding: 16px; background-color: #82AECB;">teal-500 #82AECB</div>
        <div style="padding: 16px; background-color: #98C6E3;">teal-400 #98C6E3</div>
        <div style="padding: 16px; background-color: #A9DCFC;">teal-300 #A9DCFC</div>
        <div style="padding: 16px; background-color: #C3E4FF;">teal-200 #C3E4FF</div>
        <div style="padding: 16px; background-color: #E1F2FF;">teal-100 #E1F2FF</div>
      </div>

      <div class="column small-12 medium-4" style="color: white">
        <div style="padding: 16px; background-color: #9B4A48;color: white">mauve-900 #9B4A48</div>
        <div style="padding: 16px; background-color: #B15754;color: white">mauve-800 #B15754</div>
        <div style="padding: 16px; background-color: #BF5C60;color: white">mauve-700 #BF5C60</div>
        <div style="padding: 16px; background-color: #D1696D;color: white">mauve-600 #D1696D</div>
        <div style="padding: 16px; background-color: #E07478;color: white">mauve-500 #E07478</div>
        <div style="padding: 16px; background-color: #EE7F83;color: white">mauve-400 #EE7F83</div>
        <div style="padding: 16px; background-color: #F69197;">mauve-300 #F69197</div>
        <div style="padding: 16px; background-color: #FFA6AB;">mauve-200 #FFA6AB</div>
        <div style="padding: 16px; background-color: #FFC5C8;">mauve-100 #FFC5C8</div>
        <hr style="margin: 1.5rem 0;">
        <div style="padding: 16px; background-color: #DB9D71;color: black">gold-500 #DB9D71</div>
        <div style="padding: 16px; background-color: #ECAA7C;color: black">gold-400 #ECAA7C</div>
        <div style="padding: 16px; background-color: #FAB585;color: black">gold-300 #FAB585</div>
        <div style="padding: 16px; background-color: #FFC297;color: black">gold-200 #FFC297</div>
        <div style="padding: 16px; background-color: #FFD0AF;color: black">gold-100 #FFD0AF</div>
      </div>

      <div class="column small-12 medium-4">
        <div style="padding: 16px; background-color: #F6F5F2; color: black">grey-900 #F6F5F2</div>
        <hr style="margin: 1.5rem 0;">
        <div style="padding: 16px; background-color: #EDD8BC; color: black">beige-500 #EDD8BC</div>
        <div style="padding: 16px; background-color: #FBE7CC; color: black">beige-400 #FBE7CC</div>
        <div style="padding: 16px; background-color: #FFF3E3; color: black">beige-300 #FFF3E3</div>
        <div style="padding: 16px; background-color: #FFFAF2; color: black">beige-200 #FFFAF2</div>
        <hr style="margin: 1.5rem 0;">
        <div style="padding: 16px; background-color: #D93025; color: white">utility-red #D93025</div>
        <hr style="margin: 1.5rem 0;">
        <div style="padding: 16px; background-color: #5B813B; color: white">utility-green #5B813B</div>
        <hr style="margin: 1.5rem 0;">
        <div style="padding: 16px; background-color: #1C2938; color: white">color--primary #1C2938</div>
      </div>
    </div>
  </div>
</div>
