<div class="page-layout__section page-layout__section--style-guide">
  <div class="container">
    <h2 class="heading heading--divider">Icons</h2>
    <div class="row">
      <div class="column small-12 medium-3">
        <icon name="hamburger" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
        <icon name="close" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
        <icon name="plus" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
        <icon name="minus" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
        <icon name="arrow-left" size="24px"></icon><br /><br />
        <icon name="arrow-right" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
        <icon name="arrow-down" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
        <icon name="arrow-up" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
        <icon name="review-star-full" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
        <icon name="review-star-empty" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
        <icon name="review-half-star" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
      </div>
      <div class="column small-12 medium-3">
        <icon name="search" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
        <icon name="favorites" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
        <icon name="account" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
        <icon name="cart" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
        <icon name="cart-full" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div>
        <icon name="shipping" size="24px"></icon>
        <div style="display: inline-block;width: 25px;"></div><br /><br />
        <icon name="infinity" size="32px"></icon>
      </div>
    </div>
  </div>
</div>
