<div class="page-layout__section page-layout__section--style-guide">
  <div class="container">
    <h2 class="heading heading--divider">Grid and Layout Rules</h2>
    <h3 class="heading heading--divider">Breakpoints</h3>
    <table>
      <tr>
        <th>Mobile</th>
        <th>Tablet</th>
        <th>Desktop</th>
        <th>Full Width</th>
      </tr>
      <tr>
        <td>less than 650px</td>
        <td>650px to 991px</td>
        <td>greater than 992px</td>
        <td>2560px</td>
      </tr>
    </table>

    <h3 class="heading heading--divider">Global Spacing Unit and Layout Tools</h3>
    <p>The sizing and spacing for elements in this theme should always be based on the global spacing unit of 4 pixels. Ensure adherance to this rule by using the <strong>$spacing-unit</strong> variable wherever possible. This theme includes a BEM component called .page-layout as well as set of grid classes to help achieve layouts that conform to the global spacing guidelines.</p>
  </div>
</div>
