<div class="page-layout__section">
  <div class="container">
    <h1 class="heading heading--divider">Style Guide</h1>
  </div>
</div>
{%- render 'logo-style-guide-section' -%}
{%- render 'layout-style-guide-section' -%}
{%- render 'colors-style-guide-section' -%}
{%- render 'typography-style-guide-section' -%}
{%- render 'buttons-style-guide-section' -%}
{%- render 'form-elements-style-guide-section' -%}
{%- render 'icons-style-guide-section' -%}
