<div class="row collapse product-form__modal-content-inner">
  <div class="column small-12 small-no-gutters">
      {% comment %}
        Sizing information.
        The first block will first loop through and check for tags based on the product
        name.
      {% endcomment %}
      {% liquid
        assign product_name = product.title
        assign product_name_tag = product.title | prepend: 'Product | '

        for article in blogs.sizing-care-returns.articles
          if article.title contains 'Sizing'
            for article_tag in article.tags
              if article_tag == product_name or article_tag == product_name_tag
                echo article.content
              endif
            endfor
          endif
        endfor
      %}
  </div>
</div>