/**
 * Forces an element to self-clear its children
 *
 * Usage:
 * .selector {
 *   @include clearfix;
 * }
 */
@mixin clearfix() {

  // stylelint-disable-next-line
  *zoom: 1;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
